<div class="card shadow" style="height: 368px;">
  <%= cl_image_tag(property.photo,
    class: 'card-img-top', crop: :fill, alt: 'proerty.name', style: 'height: 200px') %>
  <div class="card-body">
    <h5 class="card-title">
      <%= property.name %>
    </h5>
    <p class="card-text mb-1">
      <%= property.address %>
    </p>
    <p class="card-text text-primary">
      <%= property.user.name if property.user %>
    </p>
    <%= link_to 'Show', property, class: 'text-dark' %>

    <% if policy(property).edit? %>
      <%= link_to 'Edit', edit_property_path(property), class: 'text-warning' %>
    <% end %>

    <% if policy(property).destroy? %>
      <%= link_to 'Delete', property_path(property), method: :delete, class: 'text-danger' %>
<% end %>
  </div>
</div>